:root {
    --bg-color: #d9d9de;
    --inverted-bg-color: #03033a;
    --primary-color: #0254a4;
    --secondary-color: #80b4f1;
    --inverted-primary-color: #04e004;
    --inverted-secondary-color: #9cef9c;
}
